
Entrega objetos Gonzalez-Alfaro/BackendMyPlacesApp/.vs/WebApiObjetos/v16/
Entrega objetos Gonzalez-Alfaro/BackendMyPlacesApp/WebApiObjetos/bin/Debug/
Entrega objetos Gonzalez-Alfaro/FinalObjetos/.gradle/buildOutputCleanup/
Entrega objetos Gonzalez-Alfaro/FinalObjetos/app/build/
Entrega objetos Gonzalez-Alfaro/BackendMyPlacesApp/WebApiObjetos/appsettings.json
Entrega objetos Gonzalez-Alfaro/FinalObjetos/.idea/
Entrega objetos Gonzalez-Alfaro/FinalObjetos/.gradle/
Entrega objetos Gonzalez-Alfaro/BackendMyPlacesApp/WebApiObjetos/obj/
Entrega objetos Gonzalez-Alfaro/BackendMyPlacesApp/.vs/WebApiObjetos/DesignTimeBuild/
*.dll
*.cache
*.flat
Entrega objetos Gonzalez-Alfaro/BackendMyPlacesApp/WebApiObjetos/bin/Debug/
Entrega objetos Gonzalez-Alfaro/FinalObjetos/app/build/generated/
Entrega objetos Gonzalez-Alfaro/FinalObjetos/app/build/generated/
